/= react_component(\
    'CommentBox',\
    data: [\
      { author: "pete hunt", text: "this is one comment"},\
      { author: "jordan walke", text: "this is *another* comment"}\
    ]\
  )
= react_component('CommentBox', url: '/api/v1/comments.json')
